<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Code_Snapshot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Undo_Redo_Tree.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Code_Snapshot.Properties.Settings>
            <setting name="IgnoreHiddenFolders" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IgnoreHiddenFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FolderExcludes" serializeAs="String">
                <value>bin|obj|properties|packages</value>
            </setting>
            <setting name="FileExcludes" serializeAs="String">
                <value>*.sln|*.csproj|*.config</value>
            </setting>
        </Code_Snapshot.Properties.Settings>
        <Undo_Redo_Tree.Properties.Settings>
            <setting name="IgnoreHiddenFolders" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IgnoreHiddenFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FolderExcludes" serializeAs="String">
                <value>bin|obj|properties|packages</value>
            </setting>
            <setting name="FileExcludes" serializeAs="String">
                <value>*.sln</value>
            </setting>
        </Undo_Redo_Tree.Properties.Settings>
    </userSettings>
</configuration>